<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Usuario</title>
</head>
<body>
<header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</header>


    <main>
        <h2>Adicionar livro</h2>
        <form action="{{ url_for('editar_usuario', id=usuario[0]) }}" method="post">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" value="{{ usuario[1] }}">


            <label for="email">Email:</label>
            <input type="text" name="email" id="email" value="{{ usuario[2] }}">


            <label for="senha">Senha:</label>
            <input type="number" name="senha" id="senha" value="{{ usuario[3] }}">

            <button type="submit" class="btn">Salvar</button>
        </form>
    </main>


</body>
</html>