<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <main>
        <form action="/entrar" method="POST">

            <h2>Login</h2>

            <label for="nome">Email:</label>
            <input type="text" name="email" id="email" required>

            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" required>

            <button type="submit">Entrar</button>

        </form>
        <p>Não possui cadastro?</p>
        <a href="{{ url_for('cadastrar_usuario') }}">Criar conta</a>
    </main>

</body>
</html>
