<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="mensagem">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('entrar') }}" method="POST">
            <h2>Entre na sua conta</h2>

            <label for="email">Email:</label>
            <input type="text" name="email" id="email" required>

            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" required>

            <button type="submit">Entrar</button>
        </form>
        <p>Não possui cadastro?</p>
        <a href="{{ url_for('cadastrar_usuario') }}">
            Criar conta
        </a>
    </main>
</body>
</html>